.Arrows {
    display: flex;
    width: 1360px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {

    .Arrows {
        display: none;
    }

}