.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 19px;
    margin: auto;
    width: 1442px;
    height: 427px;
    flex-shrink: 0;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.10);
    background: url('../../../assets/bannerBike.png')
}

.icons {
    width: 111px;
    height: 12px;
    flex-shrink: 0;
}

@media screen and (max-width: 800px) {

    .container {
        width: 360px;
        height: 140px;
        flex-shrink: 0;
        padding: 7.04px;
        background: url("../../../assets/BannerResponsive.png")
    }

    .icons {
        width: 109px;
        height: 10px;
        flex-shrink: 0;
    }
}