.bestsellers {
    position: relative;
    display: flex;
    width: 1440px;
    height: 566px;
    padding: 0px 70px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 80px;
    background-color: #fff;
}

.title {
    color: #000;
    font-family: Roboto;
    padding-left: 16px;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    line-height: 32px;
    /* 100% */
    text-transform: uppercase;
}

.title:before {
    content: attr(desktop)
}

.responsive {
    display: none;
}

@media screen and (max-width: 800px) {
    .bestsellers {
        width: 360px;
        height: 379px;
        padding: 0px;
        gap: 16px;
        margin: 40px auto;
        padding: 40px 0 16px 0;
    }

    .title {
        font-size: 24px;
        padding: 0px;
    }

    .title:before {
        content: attr(responsive)
    }

    .responsive {
        width: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }
}