.GridCategories {
    width: 1300px;
    height: 455px;
    flex-shrink: 0;
}

.category {
    width: 659.05px;
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    line-height: 32px;
    /* 100% */
    text-transform: uppercase;
}

.categoryName {
    color: #FFF;
    font-family: Rubik;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 11px 11px;
    grid-auto-flow: row;
    grid-template-areas:
        "Zapatillas Futbol Futbol Pelotas"
        "Zapatillas Calzas Calzas Pelotas";
}

.Zapatillas {
    grid-area: Zapatillas;
    /* background-image: url("../../../assets/shoes.png"); */
    background: url("../../../assets/shoes.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 316.216px;
    height: 399px;
    flex-shrink: 0;
}

.Futbol {
    grid-area: Futbol;
    background: url("../../../assets/footballshoes.png");
    width: 644.144px;
    height: 193px;
    flex-shrink: 0;
}

.Calzas {
    grid-area: Calzas;
    background: url("../../../assets/leggins.png");
    width: 644.144px;
    height: 193px;
    flex-shrink: 0;
}

.Pelotas {
    grid-area: Pelotas;
    background: url("../../../assets/ball.png");
    width: 316.216px;
    height: 399px;
    flex-shrink: 0;
}