.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.arrows {
    display: flex;
    width: 1338px;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    right: 49px;
    bottom: 229px;
}

.arrow {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}